<!DOCTYPE html>
<html>
<head>
    <title>Question List</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>    
    <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>
    <link rel="stylesheet" href="/styles/question.css">
</head>
<body>
<div id="Questions">
    <p class="right">welcome: <%- user.name %> <a href="/logout">登出</a> </p>
    <transition name="fade" v-for="q in questions">
        <a v-if="!q.hide" :href='"/question/" + q.id + "/show"'>
            <div class="question_list box-shadow">
                <h3> {{ q.title }}</h3>
            </div>
        </a>
    </transition>
</div>
<script src="/js/questions.js"></script>
</body>
</html>
