<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    
    <link rel="stylesheet" href="https://cdn.bootcss.com/codemirror/5.29.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/codemirror/5.29.0/theme/ambiance.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/codemirror/5.29.0/addon/lint/lint.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/codemirror/5.29.0/addon/hint/show-hint.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/question.css">

    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>    
    <script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>

    <script src="https://cdn.bootcss.com/jshint/2.9.5/jshint.min.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.29.0/codemirror.min.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.29.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.29.0/addon/lint/lint.min.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.29.0/addon/lint/javascript-lint.min.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.29.0/addon/hint/show-hint.min.js"></script>    
    <script src="https://cdn.bootcss.com/codemirror/5.29.0/addon/hint/javascript-hint.min.js"></script>

</head>
<body>
<div id="LLOJ">
    <div class="header">
        <h1>问题设计页面</h1>
        <input v-model="question.id"></input>
        <input v-model="question.title"></input>
        <input v-model="question.function_name"></input>
    </div>
    <div class="left">
        <div class="description box-shadow">
            <h3>题目描述</h3>
            <textarea v-model="question.description"></textarea>
        </div>
        <div class="test box-shadow">
            <h3>测试用例</h3>
            <div>
                <div class="third">
                    <strong>输入值</strong>
                </div>
                <div class="third">
                    <strong>期望值</strong>
                </div>
                <div class="third">
                    <strong>期望值</strong>
                </div>
            </div>
            <div>
                <div class="third">
                    <input v-for="t in question.tests" v-model="t.x"></input>
                </div>
                <div class="third">                
                    <input v-for="t in question.tests" v-model="t.y"></input>
                </div>
            </div>
        </div>
        <div class="test box-shadow">
            <h3>隐藏测试</h3>
            <div>
                <div class="third">
                    <strong>输入值</strong>
                </div>
                <div class="third">
                    <strong>期望值</strong>
                </div>
                <div class="third">
                    <strong>期望值</strong>
                </div>
            </div>
            <div>
                <div class="third">
                    <input v-for="t in question.hide_tests" v-model="t.x"></input>
                </div>
                <div class="third">                
                    <input v-for="t in question.hide_tests" v-model="t.y"></input>
                </div>
            </div>
        </div>


    </div>
    <div class="right">
        <div class="box-shadow">
            <textarea id="Editor"></textarea>
        </div>
        <button v-on:click="run" class="box-shadow">提交</button>
    </div>
    <p id="q_id" style="display:none"><%- q_id %></p>
</div>
<script src="/js/question_edit.js"></script>
</html>
